<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.2.3" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="Suave" version="2.2.1" targetFramework="net46" />
  <package id="Suave.Swagger" version="2.2.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net46" />
  <package id="WebSharper" version="4.0.189.96-rc" targetFramework="net46" />
  <package id="WebSharper.FSharp" version="4.0.189.96-rc" targetFramework="net46" />
  <package id="WebSharper.Owin" version="4.0.4.54-rc" targetFramework="net46" />
  <package id="WebSharper.Suave" version="4.0.3.64-rc" targetFramework="net46" />
  <package id="WebSharper.UI.Next" version="4.0.4.84-rc" targetFramework="net46" />
</packages>